*{
    box-sizing: border-box;
}

body {
    margin: 0px;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

#class{
    overflow: hidden;
}

a{
   text-decoration: none;
}

ul, ol {
    margin: 0px;
    padding: 0px;
}

/* li {
    list-style: none;
} */

input, button {
    box-shadow: none;
    outline: none;
}
.row{
    margin: 0px;
    padding: 0px;
}
.col{
    margin: 0px;
    padding: 0px;
}

.full_part{
    background-color: rgb(199, 237, 237);
}

/* first section start */
body{
    background-color: rgb(219, 243, 243);
    position: relative;
}
.main_part{
    background-color: rgb(237, 95, 44);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.icon_1{
    width: 60px;
    height: 60px;
    padding-right: 10px;
}
.the_name{
    background-color: orangered;
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding: 0px 5px;
}
.mobile_name{
    color:rgb(79, 204, 204);
    font-size: 40px;
    font-weight: 500;
}
.icon_2{
    color:rgb(79, 204, 204);
    font-size: 60px;
    margin-left: -10px;
    margin-right: -8px;
}
.phone_image{
    width: 290px;
    height: 580px;
    position: absolute;
    right: 750px;
    top:50px;
    box-shadow: 10px 10px orangered;
    border-radius: 10px;
}
.full_namedata{
    padding-left: 200px;
    padding-bottom: 120px;
}
.go_name{
    font-size: 130px;
    color: white;
    font-weight: 700;
    line-height: 120px; 
    padding-top: 100px;
    text-shadow: 10px 10px 1px orangered;
}
.list_data{
    color: white;
    font-size: 30px;
    padding-left: 50px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.download{
    color: white;
    background-color: black;
    padding: 10px 27px;
    font-size: 27px;
    margin-left: 20px;
}
.name_brand{
    padding-left: 30px;
    margin-top: 25px;
}
.the_mobile{
    padding-left: 60px;
    padding-top: 80px;
}
.icon_3{
    color: white;
    font-size: 40px;
    position: absolute;
    right: 50px;
    top: 10px;
}
 /* second section start  */

.heading{
    text-align: center;
    font-size: 30px;
    line-height: 38px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.app_name{
    color: orangered;
    font-size: 30px
}
.all_icon{
    width: 100px;
    height: 100px;
}
.section_2{
    /* padding: 20px 30px;  */
    background-color: rgba(34, 144, 140, 0.334);
    margin: 10px 40px;
    padding: 50px 0px;
    border-radius: 20px;
}
.data_1{
    border-right: 1px solid black;
    text-align: center;
}
.data_2{
    text-align: center;
}
.name_1{
    font-size: 27px;
    margin-top: 23px;
}
.data_lorem{
    color: rgb(79, 79, 79);
    font-size: 17px;
}

/* section part 3 */

.pg1{
    font-size: 30px;
    line-height: 20px;
    margin-top: 70px;
}
.pg{
    font-size: 30px;
}
.pg2{
    font-size: 30px;
    color: red;
}
.pg3{
    font-size: 18px;
    border-bottom: 15px solid red;
    width: 150px;
}
.border1{
   margin-top: 20px;
   line-height: 1px;
}
.img2{
    border-radius: 15px;
    margin-left: 30px;
    width:600px;
}
.photo1{
    background-color: red;
    border-radius: 100%;
    height: 500px;
    padding: 0px 200px;
    align-items: center;
    /* transform: rotate(100deg);; */

}
.img1{
     width:250px;
     height: 550px;
     transform: rotate(330deg);
     margin-top: -40px;
     border-radius: 10px;
 }

.lorem_1{
    margin-top: 10px;
    padding-right: 100px;
    text-transform: uppercase;
}

/* section part-4 */
.main_content3{
    background-color: rgba(34, 144, 140, 0.334);
    padding: 20px;
    margin-top: 60px;
}
.our{
    font-size: 30px;
    text-align: center;
}
.inter{
    font-size: 30px;
    color: red;
    text-align: center;
    line-height: 20px;
}
.lorem_2{
    text-align: center;
    padding-top: 25px;
    text-transform: uppercase;
    
}
.lorem_3{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 50px;
}
.fonts{
    font-size: 30px;
    background-color: rgb(25, 147, 185);
    border-radius: 100%;
    width: 200px;
    color: white;
    padding: 20px;
}
.fonts1{
    font-size: 30px;
    background-color: rgb(185, 140, 25);
    border-radius: 100%;
    color: white;
    padding: 20px;
}
.fonts2{
    font-size: 30px;
    background-color: rgb(185, 57, 25);
    border-radius: 100%;
    color: white;
    padding: 20px;
}
.fonts3{
    font-size: 30px;
    background-color: rgb(185, 25, 161);
    border-radius: 100%;
    color: white;
    padding: 20px;
}
.fonts4{
    font-size: 30px;
    background-color: #19085e;
    border-radius: 100%;
    color: white;
    padding: 20px;
}
.fonts5{
    font-size: 30px;
    background-color: rgb(13, 142, 71);
    border-radius: 100%;
    color: white;
    padding: 20px;
}
.fonts6{
    font-size: 30px;
    background-color: rgb(25, 185, 153);
    border-radius: 100%;
    color: white;
    padding: 20px;
}
.fonts7{
    font-size: 30px;
    background-color: rgb(25, 94, 185);
    border-radius: 100%;
    color: white;
    padding: 20px;
}
.fonts8{
    font-size: 30px;
    background-color: rgb(33, 51, 56);
    border-radius: 100%;
    color: white;
    padding: 20px;
}
.more_data{
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 22px;
    color: white;
}
.more_data2{
    margin: 30px;
}
.content1{
    margin-left: -1px;
    margin-top: 5px;
    padding-top: 15px;
}

/* section part-5 */
.main_content4{
    margin: 50px;
}
.photo_1{
    width: 290px;
    height: 580px;
    box-shadow: 10px 10px orangered;
    border-radius: 10px;
    margin-left: 350px;
}
.download2{
    font-size: 30px;
}
.from{
    font-size: 30px; 
    line-height: 20px;
}
.mobil_app{
    font-size: 30px;
    color: red;
}
.lorem_4{
    margin-top: 20px;
}
.download10{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}
.scan{
    border-radius: 5px;
}
.class1{
    background-color: black;
    border-radius: 8px;
    color: white;
}
.class2{
    background-color: black;
    border-radius: 8px;
    color: white;
    margin-top: 10px;
}
.p1{
    font-size: 10px;
}
/* .icon12{
    font-size: 5px;
} */

/* footer start */
.nav_name{
    padding-inline: 25px;
    text-align: right;
    margin-top: 60px;
}
.footer_data{
    background-color: rgba(159, 192, 191, 0.334);
    margin: 60px 0px;
    padding-bottom: 30px;

}
.call_now1{
    background-color: black;
    color: white;
    font-size: 20px;
}
.call_now2{
    background-color: black;
    color: white;
    font-size: 25px;
}
.footer_col1{
    padding-left: 35px;
}
.copyright{
    margin-top: 30px;
    text-align: center;
}
.footer_heading{
    margin-top: 30px;
    margin-bottom: 40px;
}
.footer_icon{
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.725);
    margin-inline: 5px;
}
.footer_allicon{
    margin-top: 20px;
    text-align: right;
    margin-right: 50px;
}


